.ediTable-cell-selected {
    color: #FFFFFF;
    background-color: #78a1ed;
}

.ediTable-cell-selected-blur {
    background-color: #919191;
    border-color: #656565;
}

.ediTable-cell-selected-left {
    border-left: 4px solid #2e69d9;
}
.ediTable-cell-selected-right {
    border-right: 4px solid #2e69d9;
}
.ediTable-cell-selected-top {
    border-top: 4px solid #2e69d9;
}
.ediTable-cell-selected-bottom {
    border-bottom: 4px solid #2e69d9;
}
