/* ====================================================== */
/* ============= POSITIONING - DO NOT ALTER ============= */
/* ====================================================== */

.ediTable td, .editable th {
    outline: none;
}
.ediTable thead th {
    position: relative; z-index: 2;
}
.ediTable-cell-selected {
    position: relative;
}
.ediTable-cell-selected:before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.ediTable-cell-selected-left:before {
    border-left-style: solid;
}
.ediTable-cell-selected-right:before {
    border-right-style: solid;
}
.ediTable-cell-selected-top:before {
    border-top-style: solid;
}
.ediTable-cell-selected-bottom:before {
    border-bottom-style: solid;
}
/* ====================================================== */
/* ================= USER CUSTOMIZATIONS ================ */
/* ====================================================== */

/* Table-wide Style */
.ediTable {
}

/* Editable Cell */
.ediTable *[contenteditable="true"] {
}

/* Non-editable Cell */
.ediTable *[contenteditable="false"] {
}

/* Selection Box Overlay */
.ediTable-cell-selected:before {
    border-width: 3px;
    border-color: #2e69d9;
    background-color: rgba(120, 161, 237, 0.3);
}
.ediTable-cell-editing:before {
    background: none;
}
